body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide.md1-card-admin {
    width: 700px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('http://i.imgur.com/JMMdzc0.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.loginCenter {
    text-align: center;
    align-content: center;
    float: left;
    padding-top: 30px;
}

#logo {
    text-decoration: none;
    color: white;
}

.grid {
    padding-top: 20px;
    flex-grow: 1;
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
    /*background-color: #ff0000;*/
    box-sizing: border-box;
    line-height: 0;

    -webkit-column-count: 6;
    -webkit-column-gap:   6px;
    -moz-column-count:    6;
    -moz-column-gap:      6px;
    column-count:         6;
    column-gap:           6px;
}

.grid img {
    width: 100%;
    margin-bottom: 5px;
}

img{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 2em;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    top: 60px;
    right: 65px;
    color: #fff;
    font-size: 80px;
    transition: 0.3s;
    position: absolute;
    margin-right: 2%;
    margin-top: 2%;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.alert {
    text-align: center;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
